body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    clear: both;
    float:left;
    margin-right:15px;
}

input {
    height: 20px;
    width: 150px;
    border: 1px solid #000;
    margin-top: 10px;
    float: right;
}

button {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h1, h2 {
    margin-bottom: 10px;
}

#resultadoDolares, #resultadoCordobas {
    font-weight: bold;
}